<h1>Tell me about your Curls</h1>

<ol>
  {{#each users}}
    <li>
      <h1><a href="/products/{{this.id}}">{{this.name}} {{this.description}}</a></h1>
      <h3>{{this.typeOfCurl}}</h3>
      {{#each this.hairProduct}}
        <p>{{this.name}}</p>
        <p>{{this.description}}</p>
      {{/each}}
    </li>
  {{/each}}
</ol>

<a href="/products/new" class="btn btn-default">Create a new Curly Friend</a>
